*{
    margin: 0;
    padding: 0;
}

body {
    width: auto;
}

header {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 175px;
}

.minText {
    display: flex;
    gap: 32px;
    margin-top: 15px;
}

.x {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.minText1 {
    display: flex;
    gap: 32px;
}

.x > a {
    text-decoration: none;
}

.x > a > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -1%;
    color: black;    
}

.minText > a {
    text-decoration: none;
}

.minText > a > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -1%;
    color: #97A1B0;
}

.minText1 > a {
    text-decoration: none;
}

.minText1 > a > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -1%;
    color: #97A1B0;
}

span {
    font-family: "Inter";
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    text-align: right;    
    color: black; 
}

headerTwo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    margin-top: 24px;
}

.text {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.text > a {
    text-decoration: none;
}

.text > a > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: black;
}

.button {
    width: 224px;
    height: 45px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: white;
}

.odin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.text1 {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    gap: 32px;
}

.text1 > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -1%;
}

.text1 > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    
}

.slider-c {
    width: auto;
    overflow: hidden;
    margin-top: 64px;
}

.slider {
    display: flex; 
    transition: transform 0.5s all; 
}

.r {
    position: absolute;
    top: 105%; 
    left: 1266px; 
    border: none;
    background: transparent; 
}

.l {
    position: absolute;
    top: 105%; 
    left: 1215px; 
    border: none;
    background: transparent; 
}

.sl {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%; 
}
.slide {
    font-size: 25px;
    font-weight: 900;
    display: none; 
}

.slide.current-slide {
    display: block; 
}

.text2 {
    display: flex;
    justify-content: center;
    gap: 608px;
    margin-top: 32px;
}

.minText2 {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.minText2 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    border-bottom: 1px solid #E3E8ED;
}

.minText2 > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.slide {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: -1%;
    text-align: right;
    color: #97A1B0;
}

.Dva {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 112px;
}

.nada {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 56px;
}

.nada > h1 {
    font-family: "Inter";
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    
}

.knopki {
    display: flex;
    gap: 40px;
}

.knopki > a {
    text-decoration: none;
}

.knopki > div > a {
    text-decoration: none;
}

.knopki > a > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.h {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    
}

.text3 {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textMin {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.textMin > h3 {
    width: 248px;
    border-bottom: 1px solid #E3E8ED;
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;    
}

.textMin > p {
    font-family: "Inter";
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.Tri {
    margin-top: 112px;
    width: auto;
    height: 435px;    
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.Tri > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    color: #FFFFFF;
    margin-right: 244px;
}

.text4 {
    display: flex;
    gap: 33px;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.box1 > h2 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.box1 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.box1 > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.Chetiri {
    width: auto;
    height: 936px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
}

.proekt {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.textMin1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.textMin1 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
}

.textMin1 > a {
    text-decoration: none;
}

.textMin1 > a > p {
    width: 155px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: black;
    border-bottom: 1px solid #E3E8ED;
}

.b {
    display: flex;
    gap: 82px;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.min {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.min > h3 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.min > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 287px;
    height: 56px;
    border: 1px solid;
    color: #E3E8ED;
    margin-top: 40px;
    margin-right: 810px;
}

.Chetiri > a {
    text-decoration: none;
}

.button1 > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: black;
}

.Five {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
    gap: 23px;
    margin-right: 95px;
}

.t {
    display: flex;
    gap: 23px;
    justify-content: center;
    
}

.t > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    border-bottom: 1px solid #E3E8ED;
}

.Five > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    margin-right: 280px;
}

.Six {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    margin-top: 112px;
}

.text5 {
    display: flex;
    gap: 391px;
    align-items: end;
}

.minText3 {
    display: flex;
    flex-direction: column;
}

.minText3 > h1 {
    font-family: "Inter";
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
}

.minText3 > p {
    font-family: "Inter";
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
}

.button2 {
    display: flex;
    gap: 2px;
}

.left {
    border: none;
}

.right {
    border: none;
}

.video {
    display: flex;
    gap: 30px;
}

.box3 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textMin2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.textMin2 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
}

.textMin2 > p {
    font-family: "Inter";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.Seven {
    width: auto;
    height: 489px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
    margin-top: 112px;
    background-color: #1A1A1A;
}

.text6 {
    display: flex;
    gap: 638px;
}

.text6 > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.text6 > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    color: #29ABE2;
}

.img1 {
    display: flex;
    gap: 30px;
}

.Eight {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nada1 {
    width: 1306px;
    height: 346px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F9F9;
    margin-top: 30px;
    margin-left: 30px;
    gap: 33px;
}

.nada1 > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    margin-right: 530px;
}

.Nine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 57px;
    margin-top: 112px;
}

.t1 {
    display: flex;
    gap: 123px;
}

.t2 {
    display: flex;
    gap: 171px;
}

.t3 {
    display: flex;
    gap: 215px;
}

.q {
    font-family: "Inter";
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
}

.w {
    font-family: "Inter";
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
}

.Footer {
    width: auto;
    height: 478px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
    gap: 41px;
    margin-top: 112px;
}

.mini {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mini > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.mini > h1 {
    font-family: "Inter";
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.t4 {
    display: flex;
    gap: 458px;
    align-items: end;
}

.cards {
    display: flex;
    gap: 114px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.card > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0%;
    color: #29ABE2;
}

.card > h4 {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.t4 > a {
    text-decoration: none;
}

.button3 {
    width: 213px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    color: #E3E8ED3D;
} 

.button3 > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

headerCSS {
    display: none;
}

.text1 > h1 {
    margin-right: 110px;
}

.text1 > h2 {
    display: none;
}

.l1 {
    display: none;
}

.r1 {
    display: none;
}

.buttonMin {
    display: none;
}

.t > a > img {
    margin-top: 8px;
}

@media screen and (max-width: 360px) {
    header {
        display: none;
    }

    headerTwo {
        display: none;
    }

    .e {
        display: none;
    }

    headerCSS {
        display: flex;
        gap: 68px;
        align-items: center;
        justify-content: center;
        margin-top: 12px;
    }

    .mini1 {
        display: flex;
        gap: 24px;
    }

    .Odin {
        margin-top: -5px;
    }

    .text1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        width: 315px;
    }

    .text1 > h1 {
        display: none;
    }

    .text1 > h2 {
        font-family: "Inter";
        font-weight: 900;
        font-size: 34px;
        line-height: 41.15px;
        letter-spacing: -1%;
        display: flex;
    }

    .text1 > p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0%;
    }

    .sl > img {
        width: 380px;
        height: 220px;
    }

    .slider-c {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .text2 {
        width: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        gap: 16px;
    }

    .minText2 > h3 {
        font-family: "Inter";
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0%;
        border-bottom: none;
    }

    .minText2 > p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .slider-t {
        margin-left: 230px;
    }

    .r1 {
        display: flex;
        position: absolute;
        left: 60px;
        margin-top: 600px;
        border: none;
    }
    
    .l1 {
        display: flex;
        position: absolute;
        left: 10px;
        margin-top: 600px;
        border: none;
    }

    .nada {
        width: 315px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nada > h1 {
        font-family: "Inter";
        font-weight: 900;
        font-size: 28px;
        line-height: 33.89px;
        letter-spacing: -1%;
    }

    .knopki {
        width: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 466px;
    }

    .text3 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 565px;
    }

    .box > img {
        width: 272px;
        height: 180px;
    }

    .Tri {
        width: auto;
        height: 1096px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .Tri > h1 {
        width: 300px;
        font-family: "Inter";
        font-weight: 900;
        font-size: 28px;
        line-height: 33.89px;
        letter-spacing: -1%;
        margin-left: 230px;
    }

    .text4 {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    .box1 > h2 {
        font-family: "Inter";
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        letter-spacing: -1%;
    }

    .box1 > h3 {
        font-family: "Inter";
        font-weight: 700;
        font-size: 22px;
        line-height: 26.63px;
        letter-spacing: 0%;
    }

    .box1 > p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
    }

    .Chetiri {
        width: 360px;
        margin-top: 282px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .j {
        margin-right: 105px;
    }

    .proekt {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .proekt > img {
        width: 328px;
        height: 210px;
    }

    .buttonMin {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 287px;
        height: 56px;
        border: 1px solid;
        color: #E3E8ED;
        margin-top: -20px;
        margin-right: 30px;
    }

    .buttonMin > p {
        font-family: "Inter";
        font-weight: 700;
        font-size: 14px;
        line-height: 16.94px;
        letter-spacing: 0%;
        color: #1A1A1A;
    }

    .Five {
        margin-top: 300px;
        width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Five > p {
        width: 268px;
        font-family: "Inter";
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0%;
        margin-left: 216px;
    }

    .t {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
    }

    .t > h1 {
        font-family: "Inter";
        font-weight: 900;
        font-size: 28px;
        line-height: 33.89px;
        letter-spacing: -1%;
    }
    .t > a > img {
        position: absolute;
        top: 4260px;
        left: 290px;
    }

}