*{
    margin: 0;
    padding: 0;
}

body {
    width: auto;
}

header {
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 175px;
}

.minText {
    display: flex;
    gap: 32px;
    margin-top: 15px;
}

.x {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.minText1 {
    display: flex;
    gap: 32px;
}

.x > a {
    text-decoration: none;
}

.x > a > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -1%;
    color: black;    
}

.minText > a {
    text-decoration: none;
}

.minText > a > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -1%;
    color: #97A1B0;
}

.minText1 > a {
    text-decoration: none;
}

.minText1 > a > p {
    font-family: "Inter";
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: -1%;
    color: #97A1B0;
}

span {
    font-family: "Inter";
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    text-align: right;    
    color: black; 
}

headerTwo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 125px;
    margin-top: 24px;
}

.text {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.text > a {
    text-decoration: none;
}

.text > a > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: black;
}

.button {
    width: 224px;
    height: 45px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 2%;
    text-transform: uppercase;
    color: white;
}

.odin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.text1 {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    justify-content: center;
    align-items: center;
    margin-right: 110px;
    gap: 32px;
}

.text1 > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -1%;
}

.text1 > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    
}

.slider-c {
    width: auto;
    overflow: hidden;
    position: relative; 
    margin-top: 64px;
}

.slider {
    display: flex; 
    transition: transform 0.5s all; 
}

.r {
    position: absolute;
    top: 88%; 
    left: 1266px; 
    border: none;
    background: transparent; 
}

.l {
    position: absolute;
    top: 88%; 
    left: 1215px; 
    border: none;
    background: transparent; 
}

.sl {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%; 
}
.slide {
    font-size: 25px;
    font-weight: 900;
    display: none; 
}

.slide.current-slide {
    display: block; 
}

.text2 {
    display: flex;
    justify-content: center;
    gap: 608px;
    margin-top: 32px;
}

.minText2 {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.minText2 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    border-bottom: 1px solid #E3E8ED;
}

.minText2 > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.slide {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: -1%;
    text-align: right;
    color: #97A1B0;
}

.Dva {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 112px;
}

.nada {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 56px;
}

.nada > h1 {
    font-family: "Inter";
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    
}

.knopki {
    display: flex;
    gap: 40px;
}

.knopki > a {
    text-decoration: none;
}

.knopki > div > a {
    text-decoration: none;
}

.knopki > a > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.h {
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    
}

.text3 {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.textMin {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.textMin > h3 {
    width: 248px;
    border-bottom: 1px solid #E3E8ED;
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;    
}

.textMin > p {
    font-family: "Inter";
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.Tri {
    margin-top: 112px;
    width: auto;
    height: 435px;    
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.Tri > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    color: #FFFFFF;
    margin-right: 244px;
}

.text4 {
    display: flex;
    gap: 33px;
}

.box1 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.box1 > h2 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    color: #FFFFFF;
}

.box1 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 26.63px;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.box1 > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.Chetiri {
    width: auto;
    height: 936px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 112px;
}

.proekt {
    display: flex;
    gap: 50px;
    margin-top: 40px;
}

.textMin1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.textMin1 > h3 {
    font-family: "Inter";
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0%;
}

.textMin1 > a {
    text-decoration: none;
}

.textMin1 > a > p {
    width: 155px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: black;
    border-bottom: 1px solid #E3E8ED;
}

.b {
    display: flex;
    gap: 82px;
}

.box2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.min {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.min > h3 {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: 0%;
    color: #97A1B0;
}

.min > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 287px;
    height: 56px;
    border: 1px solid;
    color: #E3E8ED;
    margin-top: 40px;
    margin-right: 810px;
}

.Chetiri > a {
    text-decoration: none;
}

.button1 > p {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0%;
    color: black;
}

.Five {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 112px;
    gap: 23px;
}

.t {
    display: flex;
    gap: 23px;
    justify-content: center;
}

.t > h1 {
    font-family: "Inter";
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -1%;
    border-bottom: 1px solid #E3E8ED;
}

.Five > p {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0%;
    margin-right: 280px;
}